
<form [formGroup]="form" autocomplete="off">
    <div *ngIf="showForm" class="container-fluid p-3" style="overflow-y: scroll; max-height: 85vh;">
        <div class="row ">
            <div class="col-sm-7 col-md-5 col-lg-3 mt-3">
                <mat-form-field appearance="outline">
                    <mat-label>Form Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
            </div>
            <div class="col-sm-7 col-md-2 mt-3">
                <mat-slide-toggle color="primary" class="pl-5" formControlName="eligibility" #toggle></mat-slide-toggle>
                <br />
                <mat-label class="mt-1 pl-5" style="font-size:small; font-weight: bold;">Eligibility Form</mat-label>
            </div>
            <div class="col-sm-7 col-md-5 col-lg-3 mt-3">
                <mat-form-field appearance="outline" *ngIf="toggle.checked">
                    <mat-label>Select Next Form</mat-label>
                    <mat-select formControlName="nextFormId">
                        <mat-option *ngFor="let form of formList" [value]="form.id">{{form.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-5 col-md-4 mt-3">
                <button mat-raised-button color="primary" class="font-17 float-right btn-xs-block"
                    (click)="addSection()">Add
                    Section</button>
            </div>

        </div>
        <mat-card class="border rounded p-3 mt-3 create_project" formArrayName="sections"
            *ngFor="let section of sections().controls; let sectionIndex = index">

            <div class="row" [formGroupName]="sectionIndex">
                <div class="col-md-7  mt-3">
                    <mat-form-field appearance="outline" style="width: 40%;">
                        <mat-label>Section Title</mat-label>
                        <input matInput formControlName="sectionTitle">
                    </mat-form-field>
                </div>
                <div class="col-md-5 mt-3">
                    <button mat-icon-button class="float-right mr-4">
                        <i class="material-icons color_grey" (click)="removeSection(sectionIndex)">delete</i>
                    </button>
                    <button mat-stroked-button color="accent" class="float-right mr-1"
                        (click)="addRow(sectionIndex)">Add
                        Row</button>
                </div>

                <mat-card class="border rounded p-3 m-2 mt-3 create_project" formArrayName="rows"
                    *ngFor="let row of rows(sectionIndex).controls; let rowIndex = index"
                    style="width: 99%;">
                    <div class="row" [formGroupName]="rowIndex">

                        
                            <div class="col-md-7  mt-3">
                                <mat-form-field appearance="outline" style="width: 40%;">
                                    <mat-label>Title</mat-label>
                                    <input matInput formControlName="rowTitle">
                                </mat-form-field>
                            </div>
                            <div  class="col-md-5 mt-3">

                            
                            <button mat-icon-button class="float-right">
                                <i class="material-icons color_grey"
                                    (click)="removeRow(sectionIndex,rowIndex)">delete</i>
                            </button>
                            <button mat-stroked-button color="accent" class="float-right"
                                (click)="addNewField(sectionIndex,rowIndex)">Add
                                Field</button>
                            </div>

                     

                        <mat-card class="border rounded p-3 m-3 mt-3 create_project " formArrayName="fields"
                            *ngFor="let field of fields(sectionIndex,rowIndex).controls; let fieldIndex = index"
                            style="width: 98%;">
                            <div class="row" [formGroupName]="fieldIndex">

                                <div class="col-md-3 mt-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Field Type</mat-label>
                                        <mat-select formControlName="type" #selected>
                                            <mat-option *ngFor="let controlType of controlTypeList"
                                                [value]="controlType">
                                                {{controlType}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>


                                </div>

                                <div class=" col-md-2 mt-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Title</mat-label>
                                        <input matInput formControlName="title">
                                    </mat-form-field>
                                </div>

                                <div class=" col-md-2 mt-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Validation Type</mat-label>
                                        <mat-select formControlName="validationType">
                                            <mat-option *ngFor="let validator of validatorList" [value]="validator">
                                                {{ validator.validationTypeName }} </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                
                                    <div class=" col-md-1 mt-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Min Length</mat-label>
                                            <input matInput formControlName="minLength">
                                        </mat-form-field>
                                    </div>
                                
                              

                                <div class=" col-md-1 mt-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Max Length</mat-label>
                                        <input matInput formControlName="maxLength">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-1 mt-2 mt-3">
                                    &nbsp; &nbsp; <mat-slide-toggle color="primary" formControlName="required">
                                    </mat-slide-toggle>
                                    <br />
                                    <label class="mt-1" style="font-size:small; font-weight: bold;">Required?</label>
                                </div>

                                <div class="col-md-1 mt-2 mt-3"
                                    *ngIf="selected.value != 'EDIT_TEXT' && selected.value != 'EDIT_TEXT_PHONE' && selected.value != 'DATE_PICKER'">
                                    &nbsp; &nbsp; <i class="material-icons"
                                        (click)="addWidgetData(sectionIndex,rowIndex,fieldIndex)">add_box</i>
                                    <label style="font-size:small; font-weight: bold;">Widgets</label>
                                </div>


                                <div class="col-md-1 mt-1 mt-3">
                                    <button mat-icon-button>
                                        <i class="material-icons color_grey"
                                            (click)="removeField(sectionIndex,rowIndex,fieldIndex)">delete</i>
                                    </button>
                                </div>
                                <div formArrayName="widgetData">
                                    <div
                                        *ngFor="let widget of widgetData(sectionIndex,rowIndex,fieldIndex).controls; let widgetDataIndex=index">
                                        <div class="row " [formGroupName]="widgetDataIndex" style="margin: 15px;">

                                            <div class="col-md-5">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Option Title</mat-label>
                                                    <input matInput formControlName="title">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-5">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Option Value</mat-label>
                                                    <input matInput formControlName="value">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-2">
                                                <button mat-icon-button>
                                                    <i class="material-icons color_grey"
                                                        (click)="removeWidgetData(sectionIndex,rowIndex,fieldIndex,widgetDataIndex)">delete</i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </mat-card>
            </div>

        </mat-card>
    </div>
    <div class="my-3 text-right fix_bottom" *ngIf="showForm">

        <button type="submit" (click)="onSave()" mat-raised-button class="ml-2" color="primary">{{
            isCreateDynamicFormOperation ? 'Create' : 'Update' }}</button>
        <button (click)="onPreview()" mat-stroked-button color="accent" class="ml-2">Preview</button>
        <button mat-stroked-button color="accent" class="ml-2" [routerLink]="['/home/dynamic-form']">Cancel</button>
    </div>


    <div *ngIf="showPreview">
        <div class="col-sm-5 col-md-4 mt-3">
            <button mat-raised-button color="primary" class="font-17" (click)="backToForm()">Back To Form</button>
        </div>
        <mat-card style="background-color:#E3E3E3;" class="border rounded m-3 p-3">
            <h4>{{createdFormData.name}} </h4>
        </mat-card>
        <div *ngFor="let form of createdFormData.sections" [ngSwitch]="true">
            <mat-card class="border rounded p-3 m-3">
                <h5 style="font-weight:bold;">{{form.sectionTitle}} :</h5>
                <hr style="background-color: black;">
                    <div *ngFor="let f of form.rows">
                        <h6 style="font-weight:bold;"*ngIf="f.rowTitle.length != 0">{{f.rowTitle}}</h6>
                        <div class="formRender" *ngFor="let formData of f.fields"
                            [ngStyle]="{'width':(f.fields.length === 2) ? '50%' : (f.fields.length === 3) ? '33.33%'  : (f.fields.length >= 4) ? '25%' : '100%'}">
                           
                            <br/>
                            <div *ngSwitchCase="formData.type === 'EDIT_TEXT'">
                                <mat-label>{{formData.title}}<span *ngIf="formData.required"
                                        style="color: red;">*</span>
                                </mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput placeholder="">
                                </mat-form-field>
                            </div>

                            <div *ngSwitchCase="formData.type === 'EDIT_TEXT_PHONE'">
                                <mat-label>{{formData.title}}<span *ngIf="formData.required"
                                        style="color: red;">&nbsp;*</span>
                                </mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput placeholder="">
                                </mat-form-field>
                            </div>

                            <div *ngSwitchCase="formData.type === 'DROPDOWN'">
                                <mat-label>{{formData.title}}<span *ngIf="formData.required"
                                        style="color: red;">&nbsp;*</span>
                                </mat-label>
                                <mat-form-field appearance="outline">
                                    <mat-select>
                                        <mat-option *ngFor="let option of formData.widgetData" [value]="option.value">
                                            {{option.title}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div *ngSwitchCase="formData.type === 'AUTOCOMPLETE'">
                                <mat-label>{{formData.title}}<span *ngIf="formData.required"
                                        style="color: red;">&nbsp;*</span>
                                </mat-label>
                                <mat-form-field appearance="outline">
                                    <input type="text" placeholder="Pick one" aria-label="Admin" matInput
                                        [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let option of formData.widgetData" [value]="option.value">
                                            {{option.title}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>

                            <div class="radioDiv" *ngSwitchCase="formData.type === 'RADIO'">
                                <mat-label>{{formData.title}}<span *ngIf="formData.required"
                                        style="color: red;">&nbsp;*</span>
                                </mat-label><br />
                                <mat-radio-group>
                                    <mat-radio-button class="mt-3" [value]="option.title"
                                        *ngFor="let option of formData.widgetData">
                                        {{option.title}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>

                            <div *ngSwitchCase="formData.type === 'DATE_PICKER'">
                                <mat-label>{{formData.title}}<span *ngIf="formData.required"
                                        style="color: red;">&nbsp;*</span>
                                </mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput [matDatepicker]="picker">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div *ngSwitchCase="formData.type === 'CHECKBOX'">
                                <mat-label>{{formData.title}} :</mat-label><br>
                                <section class="check" *ngFor="let option of formData.widgetData">
                                    <mat-checkbox>{{option.title}}</mat-checkbox> &nbsp;
                                </section>
                            </div>

                        </div>
                    </div>
            </mat-card>
        </div>
    </div>