<div class="global-container">
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <div class=" ">
                <div *ngIf="showCredentialForm" class="card forgot-form">
                    <div class="card-body p-0">
                        <div class="text-center">
                            <img src="../../../../assets/logo_nts2.png" class="img-fluid login-logo" alt="">
                        </div>
                        <div class="card-text mb-3">
                            <form [formGroup]="form" (ngSubmit)="onsubmit()">
                                <label class="mb-1 label">New Password</label>
                                <div style="position: relative;">
                                    <input class="form-input" type="password" formControlName="password">
                                    <mat-error *ngIf="form.controls['password'].hasError('msg')" class="error-text">
                                        Password is of length of 8 to 12 characters , can contain alphabets, digits, and
                                        @ # ! $ ^
                                        <br>
                                        Must contain at least 1 uppercase and 1 lowercase alphabet.
                                    </mat-error>
                                </div>
                                <label class="mb-1 label">Confirm Password</label>
                                <div style="position: relative;">
                                    <input class="form-input mb-3" type="password" formControlName="confirmpassword">
                                    <mat-error
                                        *ngIf="form.value.confirmpassword && form.value.password && form.value.confirmpassword != form.value.password"
                                        class="error-text">
                                        Passwords do not match !
                                    </mat-error>
                                </div>
                                <button class="forgot-btn wh_text mt-3 mb-3" mat-raised-button color="primary"
                                    type="submit" [disabled]="!form.valid">Submit</button>
                                <button class="forgot-btn mt-3 mb-3" mat-stroked-button color="accent"
                                    [routerLink]="['/login']">Cancel</button>
                            </form>
                            <div class="login-footer  py-3">
                                <span><b>Powered By </b><a href="https://neutrinotechsystems.com/" target="_blank"> <img
                                            src="../../../../assets/images/logo_nts2.png" class="img-fluid powered-logo"
                                            alt=""></a></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div *ngIf="showErrorMsg" class="error-msg p-3">
                    <div class="p-4 " color="primary">
                        <div>{{ errorMessage }}</div>
                        <div><a class="font-16 primary-font-color" [routerLink]="['/login']"> Go to Login?</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>