
<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-sm-7 col-md-5 col-lg-3 searchbox mt-3">
            <mat-form-field appearance="outline">
                <input (keyup)="filterUserTableData($event)" autocomplete="off" style="top: -4px;
                position: relative;" matInput placeholder="Search" class="form-icon-group">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div> -->
        <div class="col-lg-2 col-md-3 col-sm-3 col-7 pt-3 ml-auto font-color">
            <button mat-raised-button color="primary" class="font-17 float-right" [routerLink]="['./create-forms']">
                Create Form </button>
        </div>
    </div>
    <mat-accordion class="example-headers-align m-2">
        <mat-expansion-panel [expanded]="false" hideToggle="true" #filter>
            <mat-expansion-panel-header>
                <mat-panel-title class="justify-content-start">
                    <mat-icon
                        [ngClass]="{'primary-font-color' : filter.expanded , 'text-secondary' : !filter.expanded}">
                        {{filter.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                    </mat-icon>
                    <span class="ml-2"
                        [ngClass]="{'primary-font-color' : filter.expanded , 'text-secondary' : !filter.expanded}">
                        Filter </span>
                </mat-panel-title>
                <mat-panel-description>
                    <span class="invisible">Processing Time Taken By The Dynamic Forms</span>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row user-info-container">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <mat-label>Form Name</mat-label>
                    <mat-form-field appearance="outline" class="example-form-field">
                        <input matInput type="text" autocomplete="off" [(ngModel)]="tableData.name">
                    </mat-form-field>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4">
                    <mat-label>Status</mat-label>
                    <mat-form-field appearance="outline" class="example-form-field">
                        <mat-select [(ngModel)]="tableData.status" multiple>
                            <mat-option *ngFor="let s of statusList" [value]="s">{{s}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>  

                <div class="col-sm-6 col-md-4 col-lg-4">
                    <mat-label>Created By</mat-label>
                    <mat-form-field appearance="outline" class="example-form-field">
                        <input matInput type="text" autocomplete="off" [(ngModel)]="tableData.by">
                    </mat-form-field>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4">
                    <mat-label>Start Date</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput [matDatepicker]="picker" [(ngModel)]="tableData.startDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4">
                    <mat-label>End Date</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput [matDatepicker]="picker1" [(ngModel)]="tableData.endDate">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="text-right">
                <button class="mt-1 text-center mr-3" mat-stroked-button color="accent" (click)="clearFilter(tableData)">Clear</button>
                <button mat-flat-button color="primary" (click)="searchByFilter(tableData)"> Apply </button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="row mb-3" *ngIf="dataSource.filteredData.length !== 0; else elseBlock">
        <div class="col-sm-12">
            <div class="example-container mat-elevation-z0 documentTable">
                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

                    <ng-container matColumnDef="name">
                        <th class="font-14px" mat-header-cell *matHeaderCellDef mat-sort-header> Form Name </th>
                        <td *matCellDef="let element" style="padding-left: 2%;">
                            <i class="fa fa-newspaper-o primary-font-color mr-2" aria-hidden="true"></i>
                            <span matTooltipPosition="below"> {{ element.name }} </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="createdBy">
                        <th class="font-14px" mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
                        <td *matCellDef="let element">
                            <span matTooltipPosition="below"> {{ element.createdBy }} </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th class="font-14px" mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                        <td mat-cell *matCellDef="let element"><span *ngIf="element.status == 'enabled'">
                                <mat-slide-toggle color="primary" checked="true" (toggleChange)="changeStatus(element)"></mat-slide-toggle>
                            </span>
                            <span *ngIf="element.status == 'disabled'">
                                <mat-slide-toggle color="primary" checked="false" (toggleChange)="changeStatus(element)"></mat-slide-toggle>
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="created">
                        <th class="font-14px" mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
                        <td *matCellDef="let element">
                            <span matTooltipPosition="below"> {{ element.created }} </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="updated">
                        <th class="font-14px" mat-header-cell *matHeaderCellDef mat-sort-header> Updated </th>
                        <td *matCellDef="let element">
                            <span matTooltipPosition="below"> {{ element.updated }} </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th class="font-14px" mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let element let i = index;">
                            <button class="outline-none foregroundColor" mat-mini-fab>
                                <mat-icon [routerLink]="['./view-form', element.name]">visibility
                                </mat-icon>
                            </button>&nbsp;
                            <button class="outline-none foregroundColor" mat-mini-fab>
                                <mat-icon [routerLink]="['./edit-form', element.name]">create</mat-icon>
                            </button>&nbsp;
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator  [pageSize]="tableData.size" [pageIndex]="pageIndex" [pageSizeOptions]="[10, 20, 50, 100, 200]"  showFirstLastButtons (page)="pageSizeChange($event)"></mat-paginator>
                
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="card bg-default h-100-pb30 opacity95">
            <div class="card-body pb-0 text-center">
                <h3 class="text-center py-4">
                    <img class="mb-3" src="./assets/images/No content.png" alt="image">  <br>
                    {{ dataSource.data.length ?  'No Records Found !' : 'There are no dynamic forms available at this moment.' }}
                </h3>
            </div>
        </div>
    </ng-template>
</div>