form {
    padding: 15% 14% 0;
}

.mat-form-field {
    width: 100%;
}

.global-container {
    height: 100vh;
    width: 100%;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding-top: 6%;
}

.login-form,
.forgot-form {
    color: #343434;
    font-size: 14px;
    box-sizing: border-box;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 13px 30px rgb(0 0 0 / 7%);
    background-color: whitesmoke;
    opacity: 0.8;
    width: 56%;
}

.login-logo {
    width: 45%;
    padding: 10% 0 0
}

.login-form .label {
    font-size: 15px;
    font-weight: 400;
}

.form-input {
    font-size: 14px;
    height: 40px;
    padding: 0px 7px;
    border: 1px solid #ddd;
    background-color: #FFFFFF;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 20px;
}

.login-btn {
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 40px;
    margin-bottom: 5%;
}

.login-footer {
    border-radius: 0 0 4px 4px;
    color: #707070;
    text-align: center;
    font-weight: 400;
}

.powered-logo {
    width: 24%;
    vertical-align: baseline;
}

.pwd_eyeicon {
    position: absolute;
    top: 12px;
    bottom: 0;
    height: 24px;
    font-size: 20px;
    right: 14px;
    margin: auto;
    color: #828181;
    cursor: pointer;
}

.error-msg {
    color: #ccc;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.error-msg div {
    background-color: #1F0A19;
    border-radius: 5px;
    opacity: 0.8;
}

.error-msg a {
    color: #ccc;
}

.wh_text {
    color: #fff !important;
}

.toast-success {
    background-color: green !important;
}

.toast-success .mat-simple-snackbar-action {
    color: #fff;
}

.toast-error {
    background-color: #f44336 !important;
}

.toast-warning {
    background-color: rgb(201, 73, 13) !important;
}

.toast-error .mat-simple-snackbar-action {
    color: #fff;
}

.help-block {
    position: absolute;
    bottom: 2px;
    width: 100%;
    left: 0;
    color: #dc3545;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 12px;
}

.forgot-password {
    cursor: pointer;
    font-size: 15px;
    font-family: Helvetica, Avenir LT Std !important;
}

a {
    color: #343434;
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.forgot-btn {
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    font-weight: 500;
    height: 45px;
    font-size: 14px;
    padding: 0 18px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
    width: 48%;
    margin: 0 1%;
}

.forgot-pass a {
    font-size: 12px;
}
