<div class="global-container">
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <div class=" ">
                <div class="card forgot-form">
                    <div class="card-body p-0">
                        <div class="text-center">
                            <img src="../../../../assets/logo_nts2.png" class="img-fluid login-logo" alt="">
                        </div>
                        <div class="card-text mb-3">
                            <form [formGroup]="form" (ngSubmit)="onsubmit()">
                                <label class="mb-1 label">Email Id</label>
                                <div style="position: relative;">
                                    <input class="form-input" type="email" formControlName="email"
                                        [ngClass]="{'border-danger': form.controls['email'].hasError('email')}">
                                    <span *ngIf="form.controls['email'].hasError('email')" class="help-block">
                                        *Please Check Email Id
                                    </span>
                                </div>
                                <button class="forgot-btn wh_text mt-3 mb-3" mat-raised-button color="primary"
                                    type="submit" [disabled]="!form.valid">Submit</button>
                                <button class="forgot-btn mt-3 mb-3" mat-stroked-button color="accent"
                                    [routerLink]="['/login']">Cancel</button>
                            </form>
                            <div class="login-footer  py-3">
                                <span><b>Powered By </b><a href="https://neutrinotechsystems.com/" target="_blank"> <img
                                            src="../../../../assets/logo_nts2.png" class="img-fluid powered-logo"
                                            alt=""></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>