/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.toast-success {
    background-color: green !important;
  }
  
  .toast-success .mat-simple-snackbar-action {
    color: #fff;
  }
  
  .toast-error {
    background-color: #f44336 !important;
  }
  
  .toast-warning {
    background-color: rgb(201, 73, 13) !important;
  }
  
  .toast-error .mat-simple-snackbar-action {
    color: #fff;
  }
  

